PhiSpy
bcbio-gff>=0.6.6
biopython
bs4
crc64iso
datrie
h5py
ipython
jupyter
lxml
matplotlib
natsort
networkx
numpy
openpyxl
pandas
plotly
pybtex
pymongo
pyreadr
pysam
pytaxonkit
python-dateutil
pytz
requests
scikit-bio
scikit-learn
scipy
seaborn
sklearn
suffix_trees
tk
xmltodict
