biopython
datrie
matplotlib
networkx
numpy
pandas
PhiSpy
pybtex
jupyter
pymongo
requests
scipy
seaborn
sklearn
python-dateutil
scikit-learn
pytz
ipython
openpyxl
h5py
pysam
bs4
lxml
plotly
suffix_trees